In [3]:
# 71. my_variable이림의 비어있는 튜플 만들기
my_variable = ()
print(type(my_variable))

<class 'tuple'>

In [6]:
# 72. 닥터 스트레인지, 스플릿, 럭키 이 3가지르 가지는 movie_rank이름의 튜플 생성
movie_rank = ('닥터 스트레인지', '스플릿', '럭키')

print(type(movie_rank))

<class 'tuple'>

In [13]:
# 73. 숫자 1이 저장된 튜플을 생성
a = (1)
print(type(a))

a2 = (1, )
print(type(a2))

<class 'int'>
<class 'tuple'>

In [15]:
# 74. 다음 코드에서 실행해보고 오류가 발생하는 원인을 설명하라.
t = (1, 2, 3)
t[0] = 'a'

# t[0]은 리스트에서 해당되는 인덱스의 값을 가져오는것이므로 .... 가 저답이나디나.
# tuple은 한 번 저장된 값을 변경할 수 없다.

TypeError: 'tuple' object does not support item assignment

In [16]:
# 75. 아래 변수의 데이터 타입은 무엇인가?
t = 1, 2, 3, 4

# 내 정답
# 튜플?

print(type(t))

<class 'tuple'>

In [20]:
# 76. 변수 t가 ('A', 'b', 'c') 튜플을 가리키도록 수정 하라.
t = ('a', 'b', 'c')

# t[0] = 'A'
# print(t)

t = ('A', 'b', 'c')
print(t)

('A', 'b', 'c')

In [17]:
# 77. 튜플을 리스트로 변환
interest = ('삼성전자', 'LG전자', 'SK Hynix')

interest = list(interest)
print(type(interest))
print(interest)

<class 'list'>
['삼성전자', 'LG전자', 'SK Hynix']

In [22]:
# 78. 리스트를 튜플로 변환
interest = ['삼성전자', 'LG전자', 'SK Hynix']

interest = tuple(interest)
print(type(interest))
print(interest)

<class 'tuple'>
('삼성전자', 'LG전자', 'SK Hynix')

In [32]:
# 80. range 함수를 이용하여 1 ~ 99의 정수 중 홀수만 가지는 튜플 생성
data = tuple(range(0, 100, 2))
data

(0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98)