In [1]:
# 61 리스트 내의 특정 원소(정보)만을 출력 혹은 특정 정보만 제외하고 출력.
price = ['20180728', '100', '130', '140', '150', '160', '170']

print(price[1:])

['100', '130', '140', '150', '160', '170']

In [9]:
# 62. 리스트 내의 값들 중 홀수만 출력
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(nums[::2])

[1, 3, 5, 7, 9]

In [10]:
# 63. 리스트 내의 값들 중 짝수만 출력
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(nums[1::2])

[2, 4, 6, 8, 10]

In [15]:
# 64. 리스트네의 출력을 역순으로 출력
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(nums[:-1])

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
# 65. 삼성전자, Naver가 출력
interest = ['삼성전자' ,'LG전자', 'Naver']

print(interest[::2])

# 정답
print(interest[0], interest[2])

['삼성전자', 'Naver']
삼성전자 Naver

In [19]:
# 66. 삼성전자 LG전자 Naver SK하이닉스 미래에셋대우  가 쳘력되게 하라.  / join 메서드

# 정답
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [22]:
# 67. 삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우 의 형태로 출력
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print('/'.join(interest))

# 해보기
print('/'.join(interest[::2]))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우
삼성전자/Naver/미래에셋대우

In [24]:
# 68.  아래와 같이 출력되게 하라
_= '''
삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우'''
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

print('\n'.join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [29]:
# 69. 다음의 데이터를  interest = ['삼성전자', 'LG전자', 'Naver'] 의 형태로 저장하라. / split
string = "삼성전자/LG전자/Naver"

# string = string.string()

# 정답
interest = string.split('/')
print(interest)

['삼성전자', 'LG전자', 'Naver']

In [31]:
# 70. 리스트에 있는 값을 ㄹ오름차순으로 정렬하라.
data = [2, 4 ,5 ,3, 6, 1, 7, 9, 10, 8]
data.sort()
print(data)

data2 = sorted(data)
print(data2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]